# 데이터 준비하기 1

1. 데이터를 불러온다
2. 종속변수와 독립변수로 분리한다.

- 실습을 통해 배울 도구들
  - 파일 읽어오기: **read_csv('/경로/파일명.csv')**
  - 모양 확인하기: **데이터.shape**
  - 칼럼 선택하기: **데이터[['칼럼명1', '칼럼명2', '칼럼명3']]** 독립변수
  - 칼럼 이름 출력하기: **데이터.columns**
  - 맨 위 5개 관측치 출력하기: **데이터.head()**

In [1]:
 # 표형태로 되어있는 데이터를 쉽게 사용하기 위해 판다스 라이브러리 사용
import pandas as pd

In [9]:
# 파일로부터 데이터 읽어오기
filepath = './csv/lemonade.csv'
lemonade = pd.read_csv(filepath)

filepath = './csv/boston.csv'
boston = pd.read_csv(filepath)

filepath = './csv/iris.csv'
iris = pd.read_csv(filepath)

In [12]:
# 데이터의 모양확인
print(lemonade.shape) # 6행 2열
print(boston.shape) # 506행 14열
print(iris.shape) # 150행 5열

(6, 2)
(506, 14)
(150, 5)

In [14]:
# 데이터 칼럼이름 확인
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

#### 기본 제목 텍스트

In [20]:
# 독립변수와 종속변수 분리
독립 = lemonade[['온도']]
종속 = lemonade[['판매량']]
print(독립.shape, 종속.shape) # 독립변수 1, 종속변수 1

독립 = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = boston[['medv']]
print(독립.shape, 종속.shape) # 독립변수 13, 종속변수 1

독립 = iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = iris[['품종']]
print(독립.shape, 종속.shape) # 독립변수 4, 종속변수 1

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

#### 각각의 데이터 확인해보기

In [21]:
lemonade.head() # 레모네이드 상위 다섯개만 출력

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [22]:
boston.head() # 보스턴 상위 다섯개만 출력

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [23]:
iris.head()  # 아이리스 상위 다섯개만 출력

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa