In [2]:
import pandas as pd

# 파일로 데이터프레임을 저장하기

아래는 데이터프레임을 헤더와 함께 저장하는 예제입니다.

In [9]:
friends = [{'name': 'Jone', 'age': 20, 'job': 'student'},
         {'name': 'Jenny', 'age': 30, 'job': None},
         {'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends)
df = df[['name','age','job']]

In [10]:
df.head()

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

to_csv 함수를 사용하여 파일로 저장하실 수 있습니다.

In [11]:
df.to_csv('friends.csv')

기본적으로, 헤더와 인덱스값은 주시지 않아도, 기본적으로 True로 설정되어 있습니다.

In [12]:
df.to_csv('friends.csv', index = True, header = False)

header = False 는 컬럼 이름을 파일에 저장하지 않겠다라는 의미입니다. 예제에서 0,1,2가 헤더에 저장되지 않습니다.
index = False 는 로우 인덱스를 파일에 저장하지 않겠다라는 의미입니다. 예제에서 0,1,2가 로우 인덱스에 저장되지 않습니다.

In [13]:
df.to_csv('friends.csv', index = False, header = False)

**na_rep** 을 사용하시면 **None** 을 원하시는 값으로 쉽게 변경하실 수 있습니다.

In [14]:
df.to_csv('friends.csv', index = False, header = False,na_rep = '-') # none일때 -를 입력해라