# Flatten Layer를 활용한 이미지 학습

In [1]:
# 라이브러리 사용
import pandas as pd
import tensorflow as tf

## with reshape

reshape 를 이용하여

In [2]:
# 데이터를 준비하고
(독립, 종속),_ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 784) # 표형태로 바꿔주기
종속 = pd.get_dummies(종속) # 원핫 인코딩
print(독립.shape, 종속.shape)  # 784개의 독립변수, 10개의 종석변수

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [3]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[784]) # 독립변수 784개
H = tf.keras.layers.Dense(84, activation='swish')(X)  # 히든레이어
Y = tf.keras.layers.Dense(10, activation='softmax')(H) # 종속변수 10개
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics=['accuracy'])

In [4]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10) # 정확도가 95%

Epoch 1/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 2s 757us/step - accuracy: 0.8031 - loss: 7.5110
Epoch 2/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 759us/step - accuracy: 0.9116 - loss: 0.5918
Epoch 3/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 756us/step - accuracy: 0.9296 - loss: 0.4521
Epoch 4/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.9370 - loss: 0.3914
Epoch 5/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 751us/step - accuracy: 0.9402 - loss: 0.3656
Epoch 6/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - accuracy: 0.9486 - loss: 0.3296
Epoch 7/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 752us/step - accuracy: 0.9504 - loss: 0.3237
Epoch 8/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 764us/step - accuracy: 0.9505 - loss: 0.3006
Epoch 9/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 2s 792us/step - accuracy: 0.9541 - loss: 0.2961
Epoch 10/10
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 758us/step - accuracy: 0.9558 - loss: 0.2867

In [5]:
# 모델을 이용합니다.
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2) # 소수점 둘째자리까지 이쁘게 출력

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [6]:
종속[0:5] # 실제 정답

       0      1      2      3      4      5      6      7      8      9
0  False  False  False  False  False   True  False  False  False  False
1   True  False  False  False  False  False  False  False  False  False
2  False  False  False  False   True  False  False  False  False  False
3  False   True  False  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False  False  False   True

## with flatten

flatten을 이용하여

In [7]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 독립 = 독립.reshape(60000, 784)  #  이것을 사용 안함.
종속 = pd.get_dummies(종속) # 원핫 인코딩
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [8]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28]) # 여기가 28, 28로 변함
H = tf.keras.layers.Flatten()(X) # 여기에 추가 이러면 이것이 알아서 [28, 28]데이터를 한줄로 펴줍니다.
H = tf.keras.layers.Dense(84, activation='swish')(H) # X 에서 -> H로
Y = tf.keras.layers.Dense(10, activation='softmax')(H) # 종속변수 10개
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics=['accuracy'])

In [9]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=5)

Epoch 1/5
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 2s 765us/step - accuracy: 0.8049 - loss: 6.5143
Epoch 2/5
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 779us/step - accuracy: 0.9156 - loss: 0.5610
Epoch 3/5
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 1s 787us/step - accuracy: 0.9369 - loss: 0.4197
Epoch 4/5
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 2s 808us/step - accuracy: 0.9395 - loss: 0.3733
Epoch 5/5
1875/1875 ━━━━━━━━━━━━━━━━━━━━ 2s 809us/step - accuracy: 0.9485 - loss: 0.3630

In [10]:
# 모델을 이용합니다
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [11]:
종속[0:5] # 실제 정답

       0      1      2      3      4      5      6      7      8      9
0  False  False  False  False  False   True  False  False  False  False
1   True  False  False  False  False  False  False  False  False  False
2  False  False  False  False   True  False  False  False  False  False
3  False   True  False  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False  False  False   True