## Map 함수로 컬럼 추가 및 변경하기
파라미터로 함수를 전달하면 apply 함수와 동일하게 컬럼값을 추가 및 변경할 수 있습니다.

In [2]:
import pandas as pd

In [3]:
date_list = [{'date': '2000-06-27'},
         {'date': '2002-09-24'},
         {'date': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['date'])
df

         date
0  2000-06-27
1  2002-09-24
2  2005-12-20

#### 년도만 출력하여 컬럼 만들기

In [8]:
def extract_year(date):  
    return date.split('-')[0] # 첫번째 인자만 같는다.즉 년도만
df['year'] = df['date'].apply(extract_year)
df

         date  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

파라미터로 딕셔너리를 전달하면 컬럼값을 쉽게 원하는 값으로 변경 가능합니다.  
기존의 컬럼값은 딕셔너리의 key로 사용되고, 해당되는 value의 값으로 컬럼값이 변경됩니다.

In [9]:
job_list = [{'age': 20, 'job': 'student'},
         {'age': 30, 'job': 'developer'},
         {'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(job_list)
df

   age        job
0   20    student
1   30  developer
2   30    teacher

In [10]:
df.job = df.job.map({"student":1,"developer":2,"teacher":3})  # 원하는 겂으로 변경 가능
df

   age  job
0   20    1
1   30    2
2   30    3

### Applymap
데이터프레임 전체의 각각의 값을 한번에 변경시키실 때 사용하시면 좋습니다.

In [12]:
x_y = [{'x': 5.5, 'y': -5.6},
         {'x': -5.2, 'y': 5.5},
         {'x': -1.6, 'y': -4.5}]
df = pd.DataFrame(x_y)
df

     x    y
0  5.5 -5.6
1 -5.2  5.5
2 -1.6 -4.5

In [13]:
import numpy as np

In [17]:
# df = df.applymap(np.around) # 반올림, 더이상 권장하지 않음
df_rounded = df.apply(lambda x: np.around(x, decimals=2))  # 이걸로 수정됨
df_rounded = df.apply(lambda x: np.around(x, decimals=0))

In [18]:
df

     x    y
0  6.0 -6.0
1 -5.0  6.0
2 -2.0 -4.0