In [1]:
# 라이브러리 사용
import pandas as pd

In [2]:
# 파일 읽어오기
파일경로 = './csv/iris2.csv'  # 기존 아이리스 데이터를 변조. 품종을 int
아이리스 = pd.read_csv(파일경로)
아이리스.head()
# 품종을 setosa는 0으로, virginica는 1로, versicolor은 2로 숫자로 데이터를 만듬.

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [3]:
# 원핫인코딩 되지 않는 현상 확인. 
# 판다스는 데이터에 숫자로 되어 있으면 범주형 데이터로 인식을 하지 않음. 그래서 안됨.
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [5]:
# 칼럼의 데이터 타입 체크
print(아이리스.dtypes)

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [7]:
# 품종 타입을 범주형으로 바꾸어 준다.
아이리스['품종'] = 아이리스['품종'].astype('category') # 타입을 category(범주형) 로 바꾼다.
print(아이리스.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [8]:
# 카테고리 타입의 변수만 원핫인코딩
인코딩 = pd.get_dummies(아이리스)
인코딩.head()
# 우리가 원하는 형태로 데이터를 처리 할 수 있다.

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0   품종_1   품종_2
0   5.1  3.5    1.4   0.2  True  False  False
1   4.9  3.0    1.4   0.2  True  False  False
2   4.7  3.2    1.3   0.2  True  False  False
3   4.6  3.1    1.5   0.2  True  False  False
4   5.0  3.6    1.4   0.2  True  False  False

In [9]:
# NA값을 체크해 봅시다.
아이리스.isna().sum() # null값 확인. 꽃잎폭에 하나가 있다.

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [10]:
아이리스.tail()  # 이대로 하면 모델구조에서 에러가 남.

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [15]:
mean  = 아이리스['꽃잎폭'].mean() # 평균값을 계산
print(mean)

3.0543624161073826

In [16]:
# NA값에 꽃잎폭 평균값을 넣어주는 방법
아이리스['꽃잎폭'] = 아이리스['꽃잎폭'].fillna(mean)
아이리스.tail()  # 마지막에 추가힌 것을 알수 있다.

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2

In [12]:
# # 독립변수, 종속변수
# 독립 = 인코딩[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
# 종속 = 인코딩[['품종_0', '품종_1', '품종_2']]
# print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [14]:
# X = tf.keras.layers.Input(shape=[4]) 
# H = tf.keras.layers.Dense(8, activation='swish')(X)  # 히든레이어 추가. 8개의 ouput
# H = tf.keras.layers.Dense(8, activation='swish')(H)  # 히든레이어 추가. 8개의 ouput
# H = tf.keras.layers.Dense(8, activation='swish')(H)  # 히든레이어 추가. 8개의 ouput
# Y = tf.keras.layers.Dense(3, activation='softmax')(H) 
# model = tf.keras.models.Model(X, Y)
# model.compile(loss='categorical_crossentropy', 
#               metrics = ['accuracy'])